*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background: #beb2bb;
}
.login-container{
    display: flex;
    height: 50vh;
    width: 50vh;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
}
.get-login-detail{
    display: -ms-flexbox;
    
}